/*.content {*/
/*    display: grid;*/
/*    grid-area: content;*/
/*    background-color: rgba(238,238,238,1);*/
/*    place-content: center;*/
/*    border-radius: 35px;*/
/*}*/

.profile {
    display: grid;
}

.header {
    /*margin: 10px;*/
    justify-content: center;
    height: 400px;
}