.nav {
    grid-area: nav;
    background-color: bisque;
    border-radius: 35px;
    font-size: 24px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

.item {
    padding: 0;
}

.item a{
    color: black;
    text-decoration: none;
}

.item a.active {
    color: goldenrod;
}