.placeholder {
    background-color: darkgray;
    /*margin: 100px 100px;*/
    padding: 0 0 100px 0;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: header;
    background-color: cadetblue;
}
.header img {
    width: 50px;
}

.nav {
    grid-area: nav;
    background-color: bisque;
    /*border-width: 20px;*/
    border-radius: 35px;

}

.content {
    display: grid;
    grid-area: content;
    background-color: aliceblue;
    place-content: center;
    border-radius: 35px;
}

.profile-img {
    margin: 10px;
}