.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialogsItems .active {
    color: gold;
}

.dialogsItems .dialog {
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.dialog img {
    /*display: inline;*/
    width: 50px;
}

.messages {

}

.messages.message {

}

