.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    /*justify-self: auto;*/
}

.dialogsItems {

}

.dialogsItems .active {
color: gold;
}

.dialogsItems .dialog {

}

.messages {

}

.messages.message {

}

