.sidebar {
    position: static;
    margin: 20% auto;
}

h2 {
    margin: 10% auto;
}

.friends {
    display: flex;
    justify-content: space-evenly;
}

.friend {
    font-size: 14px;
    margin: 5px;
}

.friend img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}